.header img { /* . - импортирую класс из js */
  width: 5%; /* ширина элемента */
  height: auto; /* высота элемента */
}

.header { /* импортирую класс из js */
  grid-area: h; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(101, 211, 211); /* присвоил цвет области */
}

