.nav { /* импортирую класс из js */
  grid-area: n; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(192, 133, 75); /* присвоил цвет области */
}

.item { /* подключил класс */
  color: white; /* цвет заливки строки */
}

.item.active {
  color: blue; /* цвет заливки строки */
}