.content { /* импортирую класс из js */
  grid-area: c; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(27, 190, 95); /* присвоил цвет области */
}

.content img { /* обращение к классу и тегу img */
  width: 1100px; /* задал ширину */
  height: 300px; /* задал высоту */
}