.app-wrapper { /* модерация класса */
  margin: 0 auto; /* выровнил экран по центру */
  display: grid; /* определяю, что данный объект будет находиться в сетке */
  width: 1200px; /* задал ширину объекту */
  grid-template-columns: 100px 1fr; /* задаю количество столбцов и размер каждого столбца */
  grid-template-rows: 1fr 10fr; /* задаю размер и количество строк */
  grid-template-areas: 'h h' 'n c'; /* задаю расположение ячеек на сетке */
  grid-gap: 10px; /* задаю расстояние между ячейками */
}

.header img { /* . - импортирую класс из js */
  width: 5%; /* ширина элемента */
  height: auto; /* высота элемента */
}

.header { /* импортирую класс из js */
  grid-area: h; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(101, 211, 211); /* присвоил цвет области */
}

.nav { /* импортирую класс из js */
  grid-area: n; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(192, 133, 75); /* присвоил цвет области */
}

.content { /* импортирую класс из js */
  grid-area: c; /* дал название элементу, для расположения его в сетке */
  background-color: rgb(27, 190, 95); /* присвоил цвет области */
}

.content img { /* обращение к классу и тегу img */
  width: 1100px; /* задал ширину */
  height: 300px; /* задал высоту */
}