.app-wrapper { /* модерация класса */
  margin: 0 auto; /* выровнил экран по центру */
  display: grid; /* определяю, что данный объект будет находиться в сетке */
  width: 1200px; /* задал ширину объекту */
  grid-template-columns: 100px 1fr; /* задаю количество столбцов и размер каждого столбца */
  grid-template-rows: 1fr 10fr; /* задаю размер и количество строк */
  grid-template-areas: 'h h' 'n c'; /* задаю расположение ячеек на сетке */
  grid-gap: 10px; /* задаю расстояние между ячейками */
}