.app-wrapper { /* модерация класса */
  margin: 0 auto; /* выровнил экран по центру */
  display: grid; /* определяю, что данный объект будет находиться в сетке */
  width: 1200px; /* задал ширину объекту */
  grid-template-columns: 150px 1fr; /* задаю количество столбцов и размер каждого столбца */
  grid-template-rows: 1fr 10fr; /* задаю размер и количество строк */
  grid-template-areas: 'h h' 'n c'; /* задаю расположение ячеек на сетке */
  grid-gap: 10px; /* задаю расстояние между ячейками */
}

.app-wrapper-content {
    grid-area: c; 
    background-color: rgb(27, 190, 95); 
}