.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: rgb(215, 218, 148);
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a:hover {
    color: black;
}

.messages {
    padding: 10px;
    color: white;
}

